<!-- component -->
<div class="min-h-screen p-6 bg-gray-100 flex items-center justify-center">
  <div class="container max-w-screen-lg mx-auto">
    <div>
      <h2 class="font-semibold text-xl text-gray-600">New User</h2>
      <p class="text-gray-500 mb-6">Create a new user registration</p>

      <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
        <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
          <div class="text-gray-600">
            <p class="font-medium text-lg">Personal Details</p>
            <p>Please fill out all the fields.</p>
          </div>

          <div class="lg:col-span-2">
            <%= form_with(model: user) do |form| %>
              <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">
                <% if user.errors.any? %>
                <div style="color: red">
                  <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

                  <ul>
                    <% user.errors.each do |error| %>
                      <li><%= error.full_message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
                <div class="md:col-span-5">
                  <%= form.label :name %>
                  <%= form.text_field :name, placeholder: 'Name', class: 'h-10 border mt-1 rounded px-4 w-full bg-gray-50' %>
                </div>

                <div class="md:col-span-5">
                  <%= form.label :last_name %>
                  <%= form.text_field :last_name, placeholder: 'Last Name', class: 'h-10 border mt-1 rounded px-4 w-full bg-gray-50' %>
                </div>

                <div class="md:col-span-3">
                  <%= form.label :email %>
                  <%= form.email_field :email, placeholder: 'Email', class: 'h-10 border mt-1 rounded px-4 w-full bg-gray-50' %>
                </div>

                <div class="md:col-span-2">
                  <%= form.label :rut %>
                  <%= form.text_field :rut, placeholder: 'Rut', class: 'h-10 border mt-1 rounded px-4 w-full bg-gray-50' %>
                </div>

                <%= form.fields_for :contact_info do |contact| %>
                  <div class="md:col-span-2">
                    <%= contact.label :phone_1 %>
                    <%= contact.phone_field :phone_1, placeholder: 'Phone', class: 'h-10 border mt-1 rounded px-4 w-full bg-gray-50' %>
                  </div>

                  <div class="md:col-span-2">
                    <%= contact.label :phone_2 %>
                    <%= contact.phone_field :phone_2, placeholder: 'Phone 2 (optional)', class: 'h-10 border mt-1 rounded px-4 w-full bg-gray-50' %>
                  </div>

                <% end %>

                <%= form.fields_for :address do |address| %>

                  <div class="md:col-span-2">
                    <%= address.label :street_address %>
                    <%= address.text_field :street_address, placeholder: 'Address/Street', class: 'h-10 border mt-1 rounded px-4 w-full bg-gray-50' %>
                  </div>

                  <div class="md:col-span-2">
                    <%= address.label :city %>
                    <%= address.text_field :city, placeholder: 'City', class: 'h-10 border mt-1 rounded px-4 w-full bg-gray-50' %>
                  </div>
                  
                  <div class="md:col-span-2">
                    <%= address.label :state %>
                    <%= address.text_field :state, placeholder: 'State', class: 'h-10 border mt-1 rounded px-4 w-full bg-gray-50' %>
                  </div>

                  <div class="md:col-span-1">
                    <%= address.label :zip %>
                    <%= address.text_field :zip, placeholder: 'Zip', class: 'h-10 border mt-1 rounded px-4 w-full bg-gray-50' %>
                  </div>
                <% end %>



        
                <div class="md:col-span-5 text-right">
                  <div class="inline-flex items-end">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>