<div id="<%= dom_id company %>">
  <p>
    <strong>Name:</strong>
    <%= company.name %>
  </p>

  <p>
    <strong>Formal name:</strong>
    <%= company.formal_name %>
  </p>

  <p>
    <strong>Rut:</strong>
    <%= company.rut %>
  </p>

  <p>
    <strong>Contact info:</strong>
    <%= company.contact_info %>
  </p>

  <p>
    <strong>Address info:</strong>
    <%= company.address %>
  </p>

  <p>
    <strong>Line of business:</strong>
    <%= company.line_of_business %>
  </p>

</div>
